html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #36384d;
  z-index: 0;
  font-family: "Roboto", sans-serif;
  p {
    font-weight: 300;
  }
  h1 {
    font-weight: 700;
  }
}

.main-container {
  height: 550px;
  width: 800px;
  border-radius: 20px;
  background-color: white;
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  position: sticky;
  z-index: 3;
  .left-container {
    width: 57%;
    height: 100%;
    border-radius: 20px;
    z-index: 10;
    background-color: white;

    justify-content: start;
    text-align: start;
    padding-right: 42px;
    padding-left: 50px;

    h1 {
      margin-top: 50px;
      font-size: 2.6rem;
    }
    p {
      font-size: 16px;
      i {
        margin-right: 10px;
      }
    }
    .email {
      font-size: 0.7rem;
    }
    .email-validity {
      color: #de867c;
    }

    input {
      height: 45px;
      width: 95%;
      border-radius: 10px;
      padding-left: 15px;
      font-size: 16px;
      &:hover {
        cursor: pointer;
      }
    }
    button {
      height: 50px;
      width: 100%;
      border-radius: 10px;
      padding-left: 15px;
      font-size: 16px;
      margin-top: 25px;
      color: #f5f5fd;
      background-color: #232742;

      &:hover {
        color: #feede5;
        background: rgb(255, 83, 123);
        background: linear-gradient(
          90deg,
          rgba(255, 83, 123, 1) 21%,
          rgba(255, 105, 59, 1) 76%
        );

        border: 0px;
        cursor: pointer;
      }
    }
  }
  .right-container {
    width: 43%;
    background: rgb(255, 83, 121);
    background: linear-gradient(
      0deg,
      rgba(255, 83, 121, 1) 21%,
      rgba(255, 104, 65, 1) 76%
    );
    margin: 13px;
    margin-left: 0;
    background-color: blue;
    z-index: 9;
    .phone {
      width: 220px;
      height: 200px;
      display: flex;
      position: sticky;
      margin-left: -24px;
      margin-top: 170px;

      z-index: 2;
      border: 15px solid black;
      border-radius: 30px;
      background: rgb(255, 120, 80);
      background: linear-gradient(
        0deg,
        rgba(255, 120, 80, 1) 21%,
        rgba(250, 101, 93, 1) 76%
      );
      .up {
        display: flex;
        position: sticky;
        top: 0px;
        left: 0px;
        width: 100px;
        height: 100px;
        border-radius: 150px 0 0 0;
        transform: rotate(180deg);
        background: rgb(255, 103, 98);
        background: linear-gradient(
          0deg,
          rgba(255, 103, 98, 1) 21%,
          rgba(255, 134, 84, 1) 76%
        );
      }
      .bottom {
        width: 150px;
        height: 150px;
        margin-top: 50px;
        border-radius: 150px 0 20px 0px;
        transform: rotate(0deg);
        background: rgb(245, 143, 93);
        z-index: 3;
        position: sticky;
      }
    }

    .mac {
      height: 220px;
      width: 69.3%;
      background-color: #f4f4f4;
      margin-top: -320px;
      margin-left: 106px;
      z-index: 4;
      position: sticky;
      border-radius: 15px;
      .top-mac {
        display: flex;
        height: 25px;
        width: 100%;
        background-color: black;
        border-radius: 15px 0 0 0;
        //display: inline-block;
        align-items: center;

        .red {
          height: 10px;
          width: 10px;
          background-color: #ff5f5e;
          border-radius: 50%;
          position: sticky;
          z-index: 30;
          margin-left: 15px;
        }
        .orange {
          height: 10px;
          width: 10px;
          background-color: #ff9350;
          border-radius: 50%;
          position: sticky;
          z-index: 30;
          margin: 7px;
        }
        .green {
          height: 10px;
          width: 10px;
          background-color: #6dd4a7;
          border-radius: 50%;
          position: sticky;
          z-index: 30;
          margin: 0px;
        }
      }
      .left-mac {
        width: 30%;
        height: 195px;
        border-radius: 0 0 0 15px;
        background: rgb(238, 238, 240);
        background: linear-gradient(
          0deg,
          rgba(238, 238, 240, 1) 21%,
          rgba(206, 209, 234, 1) 76%
        );
        margin-top: 0;

        padding-left: 15px;
        .line {
          height: 6px;
          width: 80%;
          margin-top: -3px;
          margin-bottom: 15px;
          background-color: #c0c1da;
          position: relative;
          padding-top: 0px;
          border-radius: 30px;
        }
        .almost-full {
          width: 70%;
        }
        .half {
          width: 60%;
        }
      }
    }
    .graph {
      height: 110px;
      width: 90px;
      background-color: #ffffff;
      margin-top: -270px;
      margin-left: 220px;
      position: sticky;
      z-index: 4;
      padding-top: 20px;
      padding-bottom: -20px;
      .the-big {
        height: 5px;
        width: 40%;
        margin-top: 50px;
        margin-bottom: 15px;
        display: flex;
        position: relative;
        padding-top: 0px;
        border-radius: 30px;
        background-color: #ff804f;
        transform: rotate(-45deg);
      }
      .the-small {
        height: 5px;
        width: 20%;
        //margin-top: -20px;
        display: flex;
        position: relative;
        padding-top: 0px;
        border-radius: 30px;
        background-color: #ff804f;
        transform: rotate(45deg);
      }
      .one {
        margin-left: 69.3%;
      }
      .two {
        margin-left: 61%;
        margin-top: -14px;
      }
      .three {
        margin-left: 37%;
        margin-top: -1px;
        width: 35%;
      }
      .four {
        margin-left: 28%;
        margin-top: -15.5px;
      }
      .five {
        width: 52%;
        margin-left: -12%;
        margin-top: 6px;
      }
      .hide {
        height: 10px;
        width: 10px;
        position: sticky;
        margin-left: 90px;
        margin-top: -58px;
        background-color: #000000;
      }
      .hide-two {
        height: 10px;
        width: 10px;
        position: sticky;
        margin-left: -10px;
        margin-top: 39px;
        background-color: #f6f6f6;
      }
    }
    .nine {
      height: 140px;
      width: 85px;
      background-color: #ffffff;
      margin-top: 10px;
      margin-left: 267px;
      position: sticky;
      z-index: 30;
      display: flex;
      justify-content: center;
      align-items: center;
      .nine-circle {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: 10px solid #ff6844;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 15px;
      }
      .white {
        background-color: #ffffff;
        width: 5px;
        height: 35px;
        margin-left: -5px;
      }
    }
  }
}
.thanks-box {
  position: absolute;
  left: 100px;
  z-index: 10;
  height: 300px;
  width: 300px;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 20px;

  button {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    padding-left: 15px;
    font-size: 16px;
    margin-top: 5px;
    color: #f5f5fd;
    background-color: #232742;

    &:hover {
      color: #feede5;
      background: rgb(255, 83, 123);
      background: linear-gradient(
        90deg,
        rgba(255, 83, 123, 1) 21%,
        rgba(255, 105, 59, 1) 76%
      );

      border: 0px;
      cursor: pointer;
    }
  }
}
@import "./media";
